<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boarding manifest</title>
</head>
<body>
    <div id="navigation-bar" style="display: flex;">
        <form th:action="@{/bus_stops}" method="get">
            <button type="submit">Bus stops page</button>
        </form>

        <form th:action="@{/buses}" method="get">
            <button type="submit">Buses page</button>
        </form>

        <form th:action="@{/routes}" method="get">
            <button type="submit">Routes page</button>
        </form>

        <form th:action="@{/schedules}" method="get">
            <button type="submit">Schedules page</button>
        </form>
    </div>

    <h3>Schedule info</h3>
    <p>Schedule id: <span th:text="${schedule.id}"></span></p>
    <p>Route name: <span th:text="${schedule.route.name}"></span></p>
    <p>Bus serial number: <span th:text="${schedule.bus.serialNumber}"></span></p>
    <p>Available seats: <span th:text="${schedule.availableSeats}"></span></p>
    <p>Total seats: <span th:text="${schedule.totalSeats}"></span></p>
    <p>Departure time: <span id="departureTime" th:text="${#temporals.format(schedule.departureDateTime, 'yyyy-MM-dd HH:mm')}"></span></p>
    <p>Final destination: <span th:text="${schedule.finalDestinationName}"></span></p>

    <h3>Stops</h3>
    <table>
        <thead>
            <tr>
                <th>Stop order</th>
                <th>Stop name</th>
                <th>Arrival time</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="rs : ${routeStops}">
                <td th:text="${rs.sequenceNumber}"></td>
                <td th:text="${rs.busStop.name}"></td>
                <td th:text="${#temporals.format(rs.arrivalDateTime, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>

    <h3>Tickets</h3>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Seat number</th>
                <th>Bus stop</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="t : ${tickets}">
                <td th:text="${t.id}"></td>
                <td th:text="${t.seatNumber}"></td>
                <td th:text="${t.busStop.name}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>