<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Routes</title>
    <style>
        .stop-entry {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .stop-entry > div,
        .stop-entry > select,
        .stop-entry > input,
        .stop-order
    </style>
</head>
<body>
    <div id="navigation-bar" style="display: flex;">
        <form th:action="@{/bus_stops}" method="get">
            <button type="submit">Bus stops page</button>
        </form>

        <form th:action="@{/buses}" method="get">
            <button type="submit">Buses page</button>
        </form>

        <form th:action="@{/routes}" method="get">
            <button type="submit">Routes page</button>
        </form>

        <form th:action="@{/schedules}" method="get">
            <button type="submit">Schedules page</button>
        </form>

        <form th:action="@{/tickets}" method="get">
            <button type="submit">Tickets page</button>
        </form>
    </div>
    <br>

    <button type="button" onclick="openAddRouteDialog()">Add New Route</button>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="r : ${routes}">
                <td th:text="${r.id}"></td>
                <td th:text="${r.name}"></td>
                <td>
                    <form th:action="@{/routes/{id}(id=${r.id})}" th:method="delete">
                        <button type="submit">Delete</button>
                        <input type="hidden" name="_method" value="delete"/>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <dialog id="addRouteDialog">
        <form id="routeForm" th:action="@{/routes}" th:method="post">
            <label for="routeName">Route Name:</label>
            <input type="text" id="routeName" name="name" required placeholder="Enter route name" />
            <br>

            <div id="stopsContainer"></div>
            <br>

            <button type="button" onclick="addNewStop()">Add New Stop</button>
            <button type="submit">Save Route</button>
            <button type="button" onclick="closeAddRouteDialog()">Cancel</button>
        </form>
    </dialog>

    <template id="stopTemplate">
        <div class="stop-entry">
            <span class="stop-order" id="stopOrder"></span>
            <select id="input-stops" required>
                <option value="">Select a stop</option>
                <option th:each="stop : ${bus_stops}"
                        th:value="${stop.id}"
                        th:text="${stop.name}">
<!--                    TODO: prevent from adding same stop to one route multiple times-->
                </option>
            </select>
            <input id="input-departureMinutesOffset" type="number" placeholder="Time from last stop (min)" required>
            <input id="input-sequenceNumber" type="hidden">
            <button type="button" onclick="removeStopInput(this)">Remove</button>
        </div>
    </template>

    <script>
        function openAddRouteDialog() {
            document.getElementById('routeForm').reset();
            stopCounter = 1;
            document.getElementById('stopsContainer').innerHTML = '';
            addNewStop();
            document.getElementById('addRouteDialog').showModal();
        }

        function closeAddRouteDialog() {
            document.getElementById('addRouteDialog').close();
        }

        function addNewStop() {
            let container = document.getElementById('stopsContainer');
            let template = document.getElementById('stopTemplate').content.cloneNode(true);

            assignParamsToStop(template, stopCounter - 1);
            container.appendChild(template);

            stopCounter++;
            reindexStops();
        }

        function assignParamsToStop(stopEntry, index) {
            stopEntry.querySelector('#input-stops').name = `routeStops[${index}].stopId`;
            stopEntry.querySelector('#input-departureMinutesOffset').name = `routeStops[${index}].departureMinutesOffset`;
            stopEntry.querySelector('#input-sequenceNumber').name = `routeStops[${index}].sequenceNumber`;
            stopEntry.querySelector('#input-sequenceNumber').value = index + 1;
        }

        function reindexStops() {
            document.querySelectorAll('.stop-entry').forEach((stopEntry, index) => {
                stopEntry.querySelector('.stop-order').textContent = index + 1;
                assignParamsToStop(stopEntry, index);
            });
        }

        function removeStopInput(button) {
            button.closest('.stop-entry').remove();
            reindexStops();
        }

    </script>
</body>
</html>
