<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schedules</title>
</head>
<body>
    <form id="addScheduleForm" th:action="@{/schedules}" th:method="post">

        <select name="route" required>
            <option value="">Select a route</option>
            <option th:each="route : ${routes}" th:value="${route.id}" th:text="${route.name}"></option>
        </select>
        <select name="bus" required>
            <option value="">Select a bus</option>
            <option th:each="bus : ${busses}" th:value="${bus.id}" th:text="${bus.serialNumber}"></option>
        </select>
        <input type="time" id="departureTime" name="departureTime" required placeholder="HH:MM" />

        <button type="submit">Add schedule</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Route name</th>
<!--                TODO: додати повний перегляд? для того щоб проміжні пункти було видно-->
                <th>Bus serial number</th>
                <th>Available seats</th>
                <th>Total seats</th>
                <th>Departure time</th>
                <th>Final destination</th>

                <th>Add ticket</th>
                <th>Show boarding manifest</th>

                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="s : ${schedulesInfo}">
                <td th:text="${s.id}"></td>
                <td th:text="${s.route.name}"></td>
                <td th:text="${s.bus.serialNumber}"></td>
                <td th:text="${s.availableSeats}"></td>
                <td th:text="${s.totalSeats}"></td>
                <td th:text="${s.departureTime}"></td>
                <td th:text="${s.finalDestinationName}"></td>

                <td>
                    <button type="button" th:attr="onclick=|openAddTicketDialog('${s.id}', '${s.route.id}')|">Add ticket</button>
                </td>
                <td>
                    <form th:action="@{/schedules/{id}/boarding-manifest(id=${s.id})}" method="get">
                        <button type="submit">Show boarding manifest</button>
                    </form>
                </td>

                <td>
                    <form th:action="@{/schedules/{id}(id=${s.id})}" th:method="delete">
                        <button type="submit">Delete</button>
                        <input type="hidden" name="_method" value="delete"/>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <dialog id="addTicketDialog">
        <form th:action="@{/tickets}" method="post">
            <label for="selectStop">Select a stop:</label>
            <select name="busStopId" id="selectStop" required>
                <option value="">Select a stop</option>
            </select>

            <label for="selectSeat">Select a seat:</label>
            <select name="seatNumber" id="selectSeat" required>
                <option value="">Select a seat</option>
            </select>

            <input type="hidden" id="scheduleId" name="scheduleId" value=""/>
            <input type="hidden" name="ticketStatus" value="booked"/>
            <input type="hidden" name="returnUrl" value="schedules"/>

<!--            TODO: треба додати ціну-->

            <button type="submit">Add ticket</button>
            <button type="button" onclick="document.getElementById('addTicketDialog').close()">Cancel</button>
        </form>
    </dialog>

    <script>
        // TODO: передати параметром масив зупинок
        function openAddTicketDialog(scheduleId, routeId) {
            document.getElementById('scheduleId').value = scheduleId;

            fetch(`/routes/${routeId}/stops`).then(function(response) {
                return response.json();
            }).then(function(busStops) {
                var stopsSelect = document.getElementById('selectStop');
                stopsSelect.innerHTML = busStops.map(function(stop) {
                    return `<option value="${stop.id}">${stop.name}</option>`;
                }).join('');
            });


            fetch(`/schedules/${scheduleId}/available-seats`).then(function(response) {
                return response.json();
            }).then(function(seats) {
                var seatsSelect = document.getElementById('selectSeat');
                seatsSelect.innerHTML = seats.map(function(seat) {
                    return `<option value="${seat}">${seat}</option>`;
                }).join('');
            });

            document.getElementById('addTicketDialog').showModal();
        }
    </script>
</body>
</html>