<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schedules</title>
</head>
<body>
    <div id="navigation-bar" style="display: flex;">
        <form th:action="@{/bus_stops}" method="get">
            <button type="submit">Bus stops page</button>
        </form>

        <form th:action="@{/buses}" method="get">
            <button type="submit">Buses page</button>
        </form>

        <form th:action="@{/routes}" method="get">
            <button type="submit">Routes page</button>
        </form>

        <form th:action="@{/schedules}" method="get">
            <button type="submit">Schedules page</button>
        </form>
    </div>
    <br>

    <form action="/schedules/search" method="get">
        <label for="busStopSelect">Select a stop:</label>
        <select name="busStopId" id="busStopSelect" required>
            <option value="">Select a stop</option>
            <option th:each="stop : ${stops}" th:value="${stop.id}" th:text="${stop.name}"></option>
        </select>
        <button type="submit">Search cheapest</button>
    </form>
    <br>

    <form id="addScheduleForm" th:action="@{/schedules}" th:method="post">
        <label for="input-select-route">Select a route:</label>
        <select id="input-select-route" name="route" required>
            <option value="">Select a route</option>
            <option th:each="route : ${routes}" th:value="${route.id}" th:text="${route.name}"></option>
        </select>

        <label for="input-select-bus">Select a bus:</label>
        <select id="input-select-bus" name="bus" required>
            <option value="">Select a bus</option>
            <option th:each="bus : ${busses}" th:value="${bus.id}" th:text="${bus.serialNumber}"></option>
        </select>

        <label for="input-departureDateTime">Select a departure time:</label>
        <input id="input-departureDateTime" type="datetime-local" name="departureDateTime" required placeholder="YYYY-MM-DDTHH:MM" />

        <button type="submit">Add schedule</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Route name</th>
            <th>Bus serial number</th>
            <th>Available seats</th>
            <th>Total seats</th>
            <th>Departure date and time</th>
            <th>Final destination</th>

            <th>Add Ticket</th>
            <th>Refund ticket</th>
            <th>Show boarding manifest</th>

            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${schedulesInfo.isEmpty()}">
            <td colspan="11">No schedules available</td>
        </tr>
        <tr th:each="s : ${schedulesInfo}" th:unless="${schedulesInfo.isEmpty()}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.route.name}"></td>
            <td th:text="${s.bus.serialNumber}"></td>
            <td th:text="${s.availableSeats}"></td>
            <td th:text="${s.totalSeats}"></td>
            <td th:text="${#temporals.format(s.departureDateTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${s.finalDestinationName}"></td>

            <td>
                <button type="button" th:attr="onclick=|openAddTicketDialog('${s.id}', '${s.route.id}')|">Purchase ticket</button>
            </td>
            <td>
                <form th:action="@{/refunds/schedule/{scheduleId}/tickets(scheduleId=${s.id})}" method="get">
                    <button type="submit">Refund ticket</button>
                </form>
            </td>
            <td>
                <form th:action="@{/schedules/{id}/boarding-manifest(id=${s.id})}" method="get">
                    <button type="submit">Show boarding manifest</button>
                </form>
            </td>

            <td>
                <form th:action="@{/schedules/{id}(id=${s.id})}" th:method="delete">
                    <button type="submit">Delete</button>
                    <input type="hidden" name="_method" value="delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <dialog id="addTicketDialog">
        <form th:action="@{/tickets}" method="post">

            <!--            TODO: додати дефолтне значення на випадок якщо даних взагалі нема-->
            <label for="selectStop">Select a stop:</label>
            <select name="busStopId" id="selectStop" required></select>

            <label for="selectSeat">Select a seat:</label>
            <select name="seatNumber" id="selectSeat" required></select>

            <p>Price: <span id="price-display"></span></p>

            <input type="hidden" id="scheduleId" name="scheduleId" value=""/>
            <input type="hidden" name="ticketStatus" value="booked"/>
            <input type="hidden" name="returnUrl" value="schedules"/>

            <button type="submit">Add and show ticket</button>
            <button type="button" onclick="document.getElementById('addTicketDialog').close()">Cancel</button>
        </form>
    </dialog>

    <script>
        function calculatePrice(routeStops, stopIndex) {
            let totalTime = 0;
            for (let i = 0; i <= stopIndex; i++) {
                totalTime += routeStops[i].departureOffset;
            }
            let roundedPrice = Math.round(1.1 * totalTime);
            document.getElementById('price-display').innerText = `${roundedPrice}`;
        }

        function openAddTicketDialog(scheduleId, routeId) {
            document.getElementById('scheduleId').value = scheduleId;
            let routeStops = [];

            fetch(`/routes/${routeId}/stops`)
                .then(response => {
                    return response.json();
                })
                .then(busStops => {
                    document.getElementById('selectStop').innerHTML = busStops.map(function(stop) {
                        return `<option value="${stop.id}">${stop.name}</option>`;
                    }).join('');
                })
                .catch(error => {
                    console.error('There has been a problem with fetch operation:', error);
                });

            fetch(`/schedules/${scheduleId}/available-seats`)
                .then(response => {
                    return response.json();
                })
                .then(seats => {
                    document.getElementById('selectSeat').innerHTML = seats.map(function(seat) {
                        return `<option value="${seat}">${seat}</option>`;
                    }).join('');
                })
                .catch(error => {
                    console.error('There has been a problem with fetch operation:', error);
                });

            fetch(`/routes/${routeId}/route-stops`)
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    routeStops = data;

                    let selectedStopIndex = document.getElementById('selectStop').selectedIndex;
                    calculatePrice(routeStops, selectedStopIndex);
                })
                .catch(error => {
                    console.error('There has been a problem with fetch operation:', error);
                });

            document.getElementById('selectStop').addEventListener('change', function() {
                let selectedStopIndex = this.selectedIndex;
                calculatePrice(routeStops, selectedStopIndex);
            });

            document.getElementById('addTicketDialog').showModal();
        }
    </script>
</body>
</html>