<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
</head>
<body>
    <div id="navigation-bar" style="display: flex;">
        <form th:action="@{/bus_stops}" method="get">
            <button type="submit">Bus stops page</button>
        </form>

        <form th:action="@{/buses}" method="get">
            <button type="submit">Buses page</button>
        </form>

        <form th:action="@{/routes}" method="get">
            <button type="submit">Routes page</button>
        </form>

        <form th:action="@{/schedules}" method="get">
            <button type="submit">Schedules page</button>
        </form>

        <form th:action="@{/tickets}" method="get">
            <button type="submit">Tickets page</button>
        </form>
    </div>
    <br>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Seat number</th>
                <th>Schedule id</th>
                <th>Route name</th>

                <th>Show</th>
                <th>Refund</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${tickets.isEmpty()}">
                <td>No tickets available</td>
            </tr>
            <tr th:each="t : ${tickets}" th:unless="${tickets.isEmpty()}">
                <td th:text="${t.id}"></td>
                <td th:text="${t.ticketStatus}"></td>
                <td th:text="${t.seatNumber}"></td>
                <td th:text="${t.schedule.id}"></td>
                <td th:text="${t.schedule.route.name}"></td>

                <td>
                    <form th:action="@{/tickets/{ticketId}(ticketId=${t.id})}" method="get">
                        <button type="submit">Show</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/tickets/{ticketId}/refund(ticketId=${t.id})}" method="post">
                        <button type="submit">Refund</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>